/*phone and tablet*/
@media (max-width: 1280px) {
  section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile-hidden {
    display: none;
  }

  .home .inner {
    padding: 2rem 0;
  }

  .dflex.wrap.two > * {
    width: 100%;
  }
}

@media (min-width: 1281px) {
  .dflex.wrap.two > * {
    width: calc(50% - 6rem - 10px);
    min-width: 200px;
  }

  .dflex.wrap.two > *:not(:first-child) {
    margin-left: 20px;
  }
}

/*mid desktop*/
@media (min-width: 1281px) and (max-width: 2048px) {
  section:not(.header) {
    padding-left: 20%;
    padding-right: 20%;
  }

  .home .inner {
    padding: 4rem 0;
  }

  .header {
    padding: 0 5%;
  }
}

/*big desktop*/
@media (min-width: 2049px) {
  section:not(.header) {
    padding-left: 35%;
    padding-right: 35%;
  }

  .home .inner {
    padding: 4rem 0;
  }

  .header {
    padding: 0 15%;
  }
}
