<%#einaweb:name prices.html%>
<%-include("head.inc")%>
<section>
  <h1>Precios</h1>
  <p>Nuestro equipo te hará un presupuesto personalizado, no obstante aquí tienes unas cifras para que veas en qué rango nos movemos respecto a instalación y mantenimiento de equipos:</p>
</section>
<section>
  <h3>Instalación de equipos</h3>
  <p>Precio por sensor/señal + horas de trabajo</p>
  <p>Hora de trabajo: 40€ + IVA</p>
  <p><i>*En función del número de sensores y su complejidad el precio puede variar.</i></p>
</section>
<section>
  <h3>Mantenimiento mensual</h3>
  <p>40€ + Volumen de datos</p>
  <p><i>*En función del volumen de datos el precio puede incrementarse.</i></p>
</section>
<%-include("foot.inc")%>
