<%#autoweb:name about.html%>
<%-include("head.inc")%>
<section>
  <h1>Empresa</h1>
</section>
<section>
  <p>Nuestra idea nació durante la pandemia de Covid-19. blablabla zzz</p>
</section>
<section>
  <h1>Nuestro equipo</h1>
</section>
<section class="about">
  <div>
    <img src="img/Ciro.jpeg" />
    <div>
      <h4><span>Ciro Iván Agulló</span> - [Arquitecto de software]</h4>
      <p>10 años de experiencia. Experto en desarrollo de software e infraestructura escalable</p>
    </div>
  </div>
  <hr />
  <div>
    <img src="img/Ciro.jpeg" />
    <div>
      <h4><span>Ciro Iván Agulló</span> - [Arquitecto de software]</h4>
      <p>10 años de experiencia. Experto en desarrollo de software e infraestructura escalable</p>
    </div>
  </div>
  <hr />
</section>
<%-include("foot.inc")%>
