<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name clients.$lang.html%>
<%-include("head.inc", data)%>
<section>
  <h1>Nuestros clientes</h1>
  <p>Debido a la LOPD los nombres que se muestran aquí no son reales.</p>
</section>
<section>
  <p><strong>Helioplast S.L.</strong></p>
  <p>En colaboración con CougarView S.L.</p>
  <p>Descripción: Fábrica de plasticos con una plantilla de 64 trabajadores y 12 líneas de producción. Se llevó a cabo la instalación de fotocélulas para el conteo y señales parada.</p>
  <p>Instalación: 4300€</p>
  <p>Desarrollo: 3 semanas</p>
  <p>Mantenimiento mensual: 150€</p>
  <hr />
  <p><strong>Levosfera Paterna</strong></p>
  <p>Desarrollo propio</p>
  <p>Descripción: Instalación de sensores para detectar partículas en suspensión cerca de una zona industrial.</p>
  <p>Instalación: 6900€</p>
  <p>Desarrollo: 6 semanas</p>
  <p>Mantenimiento mensual: 100€</p>
  <hr />
  <p><strong>Agrobeans Murcia</strong></p>
  <p>En colaboración con KressySoft S.L.</p>
  <p>Descripción: Centro de procesamiento para productos hortofrutícolas con 34 trabajadores y 6 líneas de producción. Instalación de sensores para el control de la producción, incentivos a la producción, gestión de incidencias e informes.</p>
  <p>Instalación: 3400€</p>
  <p>Desarrollo: 3 semanas</p>
  <p>Mantenimiento mensual: 200€</p>
  <hr />
</section>
<%-include("foot.inc")%>
