<%#einaweb:require lang.json%>
<%#einaweb:pick 1%>
<%#einaweb:name en-error%>
<%-include("head.inc", data)%>
<section class="push-top bg-pattern-2 bg-right">
  <h1 style="font-size: 8rem">Error :\</h1>
  <h4>The page you're looking for does not exists..</h4>
  <h4>La página que estás buscando no existe..</h4>
</section>
