<%#autoweb:name index.html%>
<%-include("head.inc")%>
<section>
  <h1>Una vuelta de tuerca al "<i>internet de las cosas</i>"</h1>
  <h3>Einabit es una empresa que hace realidad tus proyectos de IoT a gran escala. Instalamos sensores, recogemos y almacenamos los datos para que solo tengas que preocuparte de desarrollar soluciones para tus clientes.</h3>
</section>
<section>
  <h2>Un producto para desarrolladores</h2>
  <p>A diferencia de otras empresas, nosotros ofrecemos un producto compatible con entornos de desarrollo modernos. Nuestra pasarela de datos está alojada en servidores de alta disponibilidad y acorde con los últimos estándares.</p>
</section>
<section>
  <h2>Digitalizamos tu negocio</h2>
  <p>Nuestro sistema es compatible con cualquier sensor, ya sea relacionado con industria de manufactura, transporte, meteorología, salud, seguridad y perimetraje.</p>
</section>
<section>
  <h2>Nos encargamos de todo</h2>
  <p>Nuestro equipo se encarga íntegramente del proceso de instalación. Nuestros técnicos no modificarán el sistema o el proceso que se pretende monitorizar. También te asesoraremos en función de las necesidades del clientes.</p>
</section>
<section>
  <h2>Te ayudamos a llegar más lejos</h2>
  <p>Sabemos mejor que nadie lo complicado que son los proyectos de software. Si a todo esto añadimos tener que mantener equipos electrónicos la complejidad de nuestro proyecto se incrementa exponencialmente.</p>

  <p>El mundo IoT requiere de conocimientos de hardware, electrónica y otra serie de aptitudes relacionadas con el mundo de las instalaciones industriales. Es por eso que solo empresas con abundantes recursos pueden abordar la transformación digital y esto es un grave desventaja para las PYMEs.</p>
</section>
<%-include("foot.inc")%>
