<%#autoweb:require lang.json%>
<%#autoweb:pick 0%>
<%#autoweb:name industry.es.html%>
<%-include("head.inc", data)%>
<section class="push-top">
  <h1 class="txt-center">La nueva Revolución Industrial</h1>
  <p class="txt-center">Ayudamos a empresas del ámbito industrial a digitalizar su producción, identificar pérdidas, mejorar la eficiencia y por tanto, <strong>incrementar su competitividad</strong>.</p>
  <h2 class="txt-center">Facilitamos el desarrollo de la Industria 4.0</h2>
</section>
<section>
  <!-- <video autoplay controls> -->
  <video controls poster="thumb/vlcsnap-2023-01-25-19h25m00s465.png">
     <source src="video/einabit-industria.mp4" type="video/mp4">
  </video>
</section>
<section class="vertical-space">
  <h2>¿En qué consiste?</h2>
  <div class="dflex jct-between industry-highlight">
    <p>Nuestra misión es traer la industria 4.0 a todas las compañías industriales sin importar el volumen de negocio. Proporcionamos soluciones integrales para el análisis y control de la producción a tiempo real.</p>
    <p>
      <img class="push-left mobile-hidden" src="thumb/vlcsnap-2023-01-25-19h24m38s762.png" />
    </p>
  </div>
  <div class="dflex jct-between industry-highlight">
    <p>
      <img class="push-right mobile-hidden" src="thumb/vlcsnap-2023-01-25-19h25m35s740.png" />
    </p>
    <p>Toda la instalación es realizada en profundidad por nuestro equipo, llevamos a cabo la formación y damos soporte en todo momento. Nuestro producto está basado en las últimas tecnologías, es rápido y sencillo.</p>
  </div>
</section>
<section class="feature-wide darkblue">
  <p class="bold">Te ayudamos a digitalizar tu producción, identificar pérdidas, mejorar la eficiencia y, por tanto, incrementar tu competitividad en la industria.</p>
</section>
<section class="reports vertical-space">
  <h2 class="txt-center">Soluciones adaptadas a tus necesidades</h2>
  <div class="dflex jct-between wrap two">
    <div class="valign">
      <p>Almacenamos automáticamente informes para que puedas consultar con todo lujo de detalle la eficiencia, incidencias e incentivos.</p>
    </div>
    <div class="valign">
      <img class="shadow border-radius" src="reports/reports0.jpg" />
    </div>
  </div>
  <div class="dflex jct-between wrap two">
    <div class="valign">
      <p>Te mostramos los datos con todo lujo de detalles para que puedas tomar decisiones acertadas. Nuestra aplicación es clara y sencilla de utilizar.</p>
    </div>
    <div class="valign">
      <img class="shadow border-radius" src="reports/reports1.jpg" />
    </div>
  </div>
  <div class="dflex jct-between wrap two">
    <div class="valign">
      <p>Los operarios disponen de herramientas para notificar incidencias, justificar paradas e incluso corregir los conteos si fuera necesario.</p>
    </div>
    <div class="valign">
      <img class="shadow border-radius" src="reports/reports2.jpg" />
    </div>
  </div>
</section>
<%-include("foot.inc")%>
