<%#autoweb:name tools.html%>
<%-include("head.inc")%>
<section>
  <h1>Herramientas</h1>
  <p><a href="https://github.com/orgs/Einabit/repositories">Einabit - Github</a></p>
  <p>Ponemos a tu disposición herramientas gratuitas y de código abierto</p>
</section>
<%-include("foot.inc")%>
