<%#autoweb:require lang.json%>
<%#autoweb:each %>
<%#autoweb:name tools.$lang.html%>
<%-include("head.inc", data)%>
<section>
  <h1>Herramientas</h1>
  <p><a href="https://github.com/orgs/Einabit/repositories">Einabit - Github</a></p>
  <p>Ponemos a tu disposición herramientas gratuitas y de código abierto</p>
</section>
<section>
  <p><a href="https://github.com/Einabit/sandbox">Sandbox</a></p>
  <p>Entorno de pruebas para mockear la API de Einabit</p>
</section>
<section>
  <h2></h2>
  <p><a href="https://github.com/Einabit/client.js">Cliente de Nodejs</a></p>
  <p>Librería para conectarse a los servicios de Einabit para projectos de Nodejs</p>
</section>
<section>
  <p><a href="https://github.com/Einabit/client.py">Cliente de Python</a></p>
  <p>Librería para conectarse a los servicios de Einabit para projectos de Python</p>
</section>
<section>
  <p><a href="https://github.com/Einabit/client.java">Cliente de Java</a></p>
  <p>Librería para conectarse a los servicios de Einabit para projectos de Java</p>
</section>
<%-include("foot.inc")%>
